SECRET_KEY = 'Django-secret-key'
GOOGLE_CLIENT = 'google-client'
GOOGLE_SECRET = 'google-secret'
JWT_SECRET_KEY = 'jwt-secret-key'
CALLBACK_URL = 'callback-url'
LOGIN_REDIRECT_URL = 'redirect-url'
SITE_ID = '1'