.driver-popover {
    border-radius: 20px !important;
}

.driver-popover-footer button {
    border-radius: 15px !important;
}

.MuiBox-root.css-nw5nzo {
    padding-top: 16px;
}

.test::before {
    /* add a green badge in right top corner */
    content: ' ';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #10B981;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  